@media screen and (min-width: 540px) {

}

@media screen and (min-width: 700px) {

}

@media screen and (min-width: 850px) {
/* show desktop navigation */
header .left .nav-desktop {
	display: block;
	display: flex;
}

/* hide hamb menu */
.hamb {
	display: none;
}

/* hero title size */
.hero .desc .title {
	font-size: 64px;
}
}

@media screen and (min-width: 920px) {
	/* increase hero background image size */
	.hero {
		background-size: 35%;
	}
}

@media screen and (min-width: 1280px) {
	/* increase hero background image size */
	.hero {
		background-size: 37%;
	}
}
