@media screen and (min-width: 540px) {

}

@media screen and (min-width: 700px) {

}

@media screen and (min-width: 850px) {
/* show desktop navigation */
header .left .nav-desktop {
	display: block;
	display: flex;
}

/* hide hamb menu */
.hamb {
	display: none;
}
}

@media screen and (min-width: 920px) {
}

@media screen and (min-width: 1280px) {

}
